<div class="container">
  <center><h1>List of invoices</h1></center>
  <%= form_tag invoices_path, method: :get do%>
    <%=label_tag :from%>
    <%= text_field_tag :from, params[:from].present? ? params[:from].to_date.strftime("%d-%m-%Y") : nil, class: 'datepicker', required: true, autocomplete: 'off' %>
    <%=label_tag :to%>
    <%= text_field_tag :to, params[:to].present? ? params[:to].to_date.strftime("%d-%m-%Y") : nil, class: 'datepicker', required: true, autocomplete: 'off' %>
    <button type="submit" class="btn btn-default">Filter</button>
    <%= link_to "New Invoice", new_invoice_path, class: 'btn btn-success' ,style: "float: right;" %>
  <%end%>
  <%unless @invoices.blank?%>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <%@invoices.each_with_index do |invoice, index|%>
          <tr>
            <th scope="row"><%=index +1%></th>
            <td><%=invoice.invoice_date.strftime("%d %b, %Y")%></td>
            <td><%=invoice.amount.round(2) %></td>
            <td><%= link_to 'Edit', edit_invoice_path(invoice), class: 'btn btn-primary'%></td>
            <td><%= link_to 'Destroy', invoice_path(invoice), method: :delete, class: 'btn btn-danger'%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
    <div class="total" style="text-align: right;">
      <%= label_tag :aggregate_total %>
      <%= @total %>
    </div>
  <% else %>
    <h3>No Records Found</h3>
  <%end%>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'dd-mm-yyyy',
      autoclose:true,
      endDate: "today",
      maxDate: "today"    
    });
  }); 
</script>