<div class="container">
  <center><h1>Lists of invoices</h1></center>
  <%= form_tag invoices_path, method: :get do%>
    <%=label_tag :from%>
    <%= text_field_tag :from, params[:from].present? ? params[:from].to_date.strftime("%d-%m-%Y") : nil, class: 'datepicker', require: true%>
    <%=label_tag :to%>
    <%= text_field_tag :to, params[:to].present? ? params[:to].to_date.strftime("%d-%m-%Y") : nil, class: 'datepicker', required: true%>
    <button type="submit" class="btn btn-default">Filter</button>
    <%= link_to "New Invoice", new_invoice_path, class: 'btn btn-success' %>
  <%end%>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <%unless @invoices.blank?%>
        <%@invoices.each_with_index do |invoice, index|%>
          <tr>
            <th scope="row"><%=index +1%></th>
            <td><%=invoice.invoice_date.strftime("%d %b, %Y")%></td>
            <td><%=invoice.amount%></td>
            <td><%= link_to 'Edit', edit_invoice_path(invoice), class: 'btn btn-primary'%></td>
            <td><%= link_to 'Destroy', invoice_path(invoice), method: :delete, class: 'btn btn-danger'%></td>
          </tr>
        <%end%>
      <%end%>
    </tbody>
  </table>  
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'dd-mm-yyyy',
      autoclose:true,
      endDate: "today",
      maxDate: "today"    
    });
  }); 
</script>